{% extends "base" %}
{% block content %}
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> -->
    <div class="col-xs-6">
    <form method="get" action="arxiv_search" class="form-inline">
      <label for="identifier">Search by arXiv ID:</label>
      <input type="text" value="1207.4481" name="identifier" id="identifier" class="form-control">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Similar Papers</button>
    </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <hr>
    </div>
  </div>

  <div class="alert alert-warning">
    <strong>Old astroph identifiers</strong> When searching for old astro-ph identifier please remove the slash.
    Example: astro-ph/9912229 -> astro-ph9912229
  </div>
  <div class="alert alert-danger">
      <strong>Papers only until June 2018</strong> are currently used in the DeepThought Framework
  </div>
  <div class="well">
      <h3>Support DeepThought</h3>
      If you use the DeepThought web service, please add: <samp>"This work made use of the DeepThought knowledge discovery service \citep{2017arXiv170505840K}"</samp>. Citing DeepThought will enable help us get support to extend this service. As a little encouragement to cite us, we have defined some stretch goals that we will work on if we get cited:
      <ul class="list-group">
          <li class="list-group-item"><strong>10 citations</strong> Auto-update of the literature so that newer papers will be searchable within days of them appearing on ArXiV</li>
          <li class="list-group-item"><strong>20 citations</strong> Using not only single words but terms of up to 2 words long for the search</li>
          <li class="list-group-item"><strong>30 citations</strong> Input a raw latex document to compare unpublished work with the literature</li>
        </ul>
      </div>
  <div class="well">
          <h3>Problems?</h3>
            Making DeepThought better requires your help. If things don't work as expected please open an issue at 
            http://github.com/wkerzendorf/deepthought_web or write to wkerzendorf@gmail.com.
  </div>        
        
  <div class="well">
      <h3>Team</h3>
      <ul class="list-group">
          <li class="list-group-item">Wolfgang Kerzendorf - PI</li>
          <li class="list-group-item">Felix Stoehr - CoI/Acronym Project</li>
          <li class="list-group-item">Dominic Bordelon - Web</li>
        </ul>
  </div>        



<!--  
  <div class="row">  
    <div class="col-xs-6">
    <form method="get" action="text_search" class="form-inline">
      <label for="text">Or by fulltext:</label>
      <input type="text" value="my astronomy paper" name="text" id="text" class="form-control">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Similar Papers</button>
    </form>
    </div>
  </div>
-->
{% endblock %}